<H2>exercice 11 Shopping List</H2>

<br>
<br>
<br>

<div id="div1">
<h3>Liste de Course</h3>
<br>

    <label> <input type="text" > <button>Ajouter</button> </label>
    <br>
    <br>
    
    <!-- Récupérer ici les 2 choix d'articles en NG , best input to implement later 👇👇👇 -->
    <p>[ "Sel" , "Poivre"  ]</p>

</div>


<div id="div2">
    
    <h2>Panier</h2>
    
    
    <p>Articles :
        
        
    </p>

    
    
    
    <!-- Ici viendront s'afficher plus tard les articles ajoutés , et possibilité de les retirer avec un box "delete"  croix rouge 🛑🛑🛑 -->
    
</div>