#div1{
    display: block;
    margin: 20px;
    border: 5px solid #123456;
    padding: 10px;
}

#div2{
    display: block;
    margin: 20px;
    border: 5px solid #123456;
    padding: 10px;
}

h2{
    margin: 20px;
}