<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">🛠 Formation Angular </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">🏚 Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        📚 Démonstrations 
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="demos/demo01">Demo 01 - One Way Binding</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo02">Demo 02 - Two Way Binding</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo03">Demo 03 - Event Binding</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo04">Demo 04 - Attribute Binding</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo05">Demo 05 - La base du routing</a></li>
                        <li><a class="dropdown-item" routerLink="demos/notfound">Demo 05 - Not found</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo06">Demo 06 - Pipes</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo07">Demo 07 - Custom Pipes</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo08">Demo 08 - Les directives de composants</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo09">Demo 09 - Les directives structurelles</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo10">Demo 10 - Les custom directives</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo11">Demo 11 - Les Inputs / Ouputs</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo12">Demo 12 - Services et injection de dépendances</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo13">Demo 13 - Cycle de vie des composants</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo14">Demo 14 - Validators</a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo15">Demo 15 - Les Customs Validators </a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo16">Demo 16 - Routing </a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo17">Demo 17 - Les Guard </a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo18">Demo 18 - Les Resolvers </a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo19">Demo 19 - Les Storages </a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo20">Demo 20 - Les Observables </a></li>
                        <li><a class="dropdown-item" routerLink="demos/demo21">Demo 21 - Le HttpClient </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        🖥 Exercices 
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="exercices/exo01">Exercice 01 - Créer son profil</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo02">Exercice 02 - Complétion du profil</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo03">Exercice 03 - Le chronomètre (basique)</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo04">Exercice 04 - Toggle password</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo05">Exercice 05 - Menu complet</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo07">Exercice 07 - Chronos</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo07bis">Exercice 07bis - Convertisseurs</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo08">Exercice 08 - Générateur de formes</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo09">Exercice 09 - Panier de courses - Les directives structurelles</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo11">Exercice 11 - Shopping List - Les Input & Output</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo15">Exercice 15 - Verification d'âge - Customs Validators</a></li>
                        <li><a class="dropdown-item" routerLink="exercices/exo21">Exercice 21 - Pokedex avec HttpClient - Le HttpClient</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>