<h3>Exercice 15 - Vérification d'âge</h3>
<br>

<p>Créer une application qui permet à l'utilisateur de rentrer sa date de naissance via un formulaire.

    Vous devez créer un custom validator qui permet de vérifier si la personne est majeure ou non. </p>
    
    <p>Dans le cas où elle est mineure, elle ne pourra pas valider le formulaire.</p>

<main>

    <div class="box1" > 
        <p>Date de naissance</p>
        <input type="date" >
        <br><br>
        <button>Se Connecter</button>
        
    </div>
    
    <div class="box2">
        <p>Date de naissance</p>
        <input type="date" >
        <br><br>
        <button>Se Connecter</button>
        
    </div>

</main>

